body {
  width: 100vw;
  height: 100vh;
  color: #222;
  background-color: #222;
  margin: 0;
  display: flex;
}

#background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#homepage {
  z-index: 1;
  width: 100%;
  height: min-content;
  margin: auto;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#homepage-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  gap: 1.5rem;

  img {
    width: 15rem;
    border: 2px solid #222;
    border-radius: 50%;
  }

  h1 {
    text-align: center;
    font-size: 250%;
    margin: 0;
  }

  #introduction {
    text-align: center;
    font-size: 125%;
  }

  #icon-drawer {
    display: flex;
    gap: 2rem;
    font-size: 140%;

    i {
      color: #222;
      opacity: 80%;
    }

    i:hover {
      opacity: 100%;
    }
  }
}

@media (max-width: 1600px) {
  #homepage-content {
    width: 80% !important;
  }
}

@media (max-width: 1024px) {
  #homepage-content {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  #homepage {
    width: 90% !important;
    padding: 3rem 0.5rem;
  }
  #homepage-content {
    gap: 1rem;
  }
  #introduction {
    text-align: justify !important;
    padding: 0 1.75rem;
  }
}
